<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.me.mapper.UserMapper">

    <select id="getUserById" parameterType="int" resultType="com.me.entity.User">
        select * from [dbo].[User] where UserId= #{id}
    </select>
   
   <insert id="addUser" parameterType="com.me.entity.User" useGeneratedKeys="true" keyProperty="userId">
         INSERT INTO [dbo].[User](UserName,UserAge,UserAddress,UserPassword,UserBirthday)
          VALUES(#{userName},#{userAge},#{userAddress},#{userPassword},#{userBirthday});
    </insert>
    
    <select id="getAllUser"  resultType="com.me.entity.User">
        select * from [dbo].[User]
    </select>
    
    <select id="deleteUserById" parameterType="int">
        delete from [dbo].[User] where UserId= #{id}
    </select>
    
    <select id="updateUser" parameterType="com.me.entity.User" >
        update [dbo].[User] set UserName=#{userName},UserAge=#{userAge},UserAddress=#{userAddress},UserPassword=#{userPassword},UserBirthday=#{userBirthday} where UserId= #{id}
    </select>
    
    <select id="getAllUserBook"  resultType="com.me.entity.UserBook">
         select a.UserName,a.UserAge,a.UserBirthday,c.BookName,c.BookPrice from dbo.[User] a
			  inner join dbo.UserBook b
			  on a.UserId = b.UserId
			  inner join dbo.Book c
			  on b.BookId = c.Id
    </select>
    
    
</mapper>